body {
margin:0;
font-family:'Caveat', cursive;
background: linear-gradient(135deg,#fbc2eb,#a6c1ee);
color:white;
text-align:center;
}

h1 {
font-family:'Great Vibes', cursive;
font-size:42px;
margin:20px;
}

.menu a, button {
display:block;
margin:15px auto;
padding:18px;
width:80%;
border-radius:30px;
background:rgba(255,255,255,0.25);
color:white;
text-decoration:none;
font-size:22px;
border:none;
}

.gallery img {
width:80%;
border-radius:20px;
margin:15px;
}

.content-box {
background:rgba(255,255,255,0.2);
margin:20px;
padding:20px;
border-radius:25px;
}

.volume {
position:fixed;
bottom:20px;
right:20px;
}
